/* General Styling */
body {
  overflow-x: hidden;
}
/* backend */
.event-image-preview {
  max-width: 100px;
  height: auto;
}
#events-table tbody tr:nth-child(even) {
  background-color: #ccc2c2; /* Light off-white background */
}

#events-table tbody tr td {
  vertical-align: middle; /* This aligns the content of the cells vertically */
}

/* Front end */

#events-on-map-container {
  height: auto;
  max-height: 100vh;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100vw;
  height: 80vh;
}
#map {
  height: 100%;
  width: calc(100vw - 400px);
}
#events-on-map-events-list {
  width: 360px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  overflow-y: auto;
  /* padding: 10px; */
}

#month-navigation {
  margin-bottom: 10px;
}
.month-button {
  background: #0073aa;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.month-button.active {
  background: #005177;
}

ul.events-list {
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  gap: 10px;
}

.events-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.image-in-front img {
  width: 50px;
  height: auto;
  max-height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.event-info {
  display: flex;
  align-items: center;
}
.event-info img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.view-event-marker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#events-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#month-navigation {
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  #events-on-map-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  #map {
    width: 100%;
    height: calc(70vh - 300px);
  }
  #events-on-map-events-list {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.75);
    overflow-y: auto;
    padding: 10px;
  }

  .image-in-front {
    display: none;
  }

  ul.events-list {
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-direction: row;
  }

  ul.events-list li {
    /* width: 100%; */
    border-bottom: none;
    height: auto;
    flex: 1 0 100%;
    min-height: 150px;
  }
  #events-title {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
  }
  #month-navigation {
    flex-wrap: nowrap;
  }

  .event-info img {
    display: none;
  }
}
