/* General Styling */
body {
  overflow-x: hidden;
}
/* backend */
.event-image-preview {
  max-width: 100px;
  height: auto;
}
#events-table tbody tr:nth-child(even) {
  background-color: #ccc2c2; /* Light off-white background */
}

#events-table tbody tr td {
  vertical-align: middle; /* This aligns the content of the cells vertically */
}

/* Front end */

/* Style the Calendar and Tooltips */

.event-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}
.fc-daygrid-day:hover .event-tooltip {
  display: block;
}

/* .fc-scroller.fc-scroller-liquid-absolute {
  overflow-y: hidden !important;
} */

/* Style the Events*/

.events-container {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
}

#map {
  height: 70vh;
  width: calc(100vw - 400px);
}
#calendar {
  width: 400px;
  padding: 10px;
  height: auto;
  overflow-y: auto;
}

.fc-h-event .fc-event-title {
  text-wrap: auto;
}
/* event info on map marker */
.event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .event-info img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .events-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #map {
    width: 100vw;
    height: 30vh;
  }
  #calendar {
    width: 100vw;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px;
  }
  .fc .fc-toolbar-title {
    font-size: 1.2rem !important;
  }
  .fc .fc-button {
    padding: 3px;
    font-size: 0.8rem;
  }
}
